.wrapper {
	background: #42A8C0;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-wrapper {
	background: #42a8c0;
	position: absolute;
	right: 0;
	width: 270px;
	height: 100%;
	min-height: 800px;
	color: #fff;
}

.main-wrapper {
	background: #fff;
	padding: 30px;
	padding-right: 280px;
}


